<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Proyectofinal</display-name>
  <welcome-file-list>
    <welcome-file>Vistas/socios.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SociosController</display-name>
    <servlet-name>SociosController</servlet-name>
    <servlet-class>clases.SociosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SociosController</servlet-name>
    <url-pattern>/SociosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SociosControllerr</display-name>
    <servlet-name>SociosControllerr</servlet-name>
    <servlet-class>clases.SociosControllerr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SociosControllerr</servlet-name>
    <url-pattern>/SociosControllerr</url-pattern>
  </servlet-mapping>
</web-app>